.modal__background_credentials__swap-link {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    left: 0;
    right: 0;
    top: 520px;
}