@import url('./__swap-btn/credentials-page__swap-btn.css');
@import url('./__swap-link/credentials-page__swap-link.css');

.credentials-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    position: relative;
}