/* TO DO fix class names & remove overlay from top header logo & swap buttons */
@import url('./__swap-link/modal__background_credentials__swap-link.css');

.modal__background_credentials {
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
}

.modal__form_credentials {
    max-height: 100vh;
    width: 100vw;
    background-color: black;
    margin-bottom: -36px;
    border-radius: 0;
    z-index: 0;
    position: relative;
}