.credentials-page__swap-btn {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    float: right;
    color: white;
    text-decoration: none;
    margin-top: -370px;
    margin-right: -220px;
}