@import url('./_avatar/modal__background_avatar.css');
@import url('./_delete/modal__background_delete.css');
@import url('./_credentials/modal__background_credentials.css');
@import url('./_tooltip/modal__background_tooltip.css');

.modal__background {
    background: #FFFFFF;
    box-shadow: 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
    max-width: 430px;
    max-height: 330px;
    position: relative;
    padding-bottom: 36px;
    z-index: 0;
}

@media screen and (max-width: 320px) {
    .modal__background {
        width: 280px;
        height: 100%;
    }
}