.modal__input.modal__input_credentials {
    margin-top: 11px;
    background: black;
    color: white;
    border-bottom-color: #CCCCCC;
    padding-bottom: 13px;
    padding-top: 13px;
}

.modal__input.modal__input_credentials::placeholder {
    color: #CCCCCC;
}