.modal__save-btn.modal__save-btn_credentials {
    background: #fff;
    color: black;
    margin-top: 216px;
}

.modal__save-btn.modal__save-btn_credentials:hover {
    background: #fff;
    opacity: .6;
}